*{
    margin: 0px;
    padding: 0px;
    list-style:none;
    text-decoration:none;
    font-family: "roboto";
}

@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
